name: Build and Deploy

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      # Build and push frontend
      - name: Build Frontend
        run: |
          cd frontend
          docker build -t frontend:${{ github.sha }} .
          docker tag frontend:${{ github.sha }} ghcr.io/vineeta05/frontend-service:${{ github.sha }}
          docker tag frontend:${{ github.sha }} ghcr.io/vineeta05/frontend-service:latest
          docker push ghcr.io/vineeta05/frontend-service:${{ github.sha }}
          docker push ghcr.io/vineeta05/frontend-service:latest

      # Build and push backend
      - name: Build Backend
        run: |
          cd backend
          docker build -t backend:${{ github.sha }} .
          docker tag backend:${{ github.sha }} ghcr.io/vineeta05/backend-service:${{ github.sha }}
          docker tag backend:${{ github.sha }} ghcr.io/vineeta05/backend-service:latest
          docker push ghcr.io/vineeta05/backend-service:${{ github.sha }}
          docker push ghcr.io/vineeta05/backend-service:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - uses: actions/checkout@v4
      - name: Install OpenShift CLI
        run: |
          wget https://mirror.openshift.com/pub/openshift-v4/clients/ocp/stable/openshift-client-linux.tar.gz
          tar -xzf openshift-client-linux.tar.gz
          sudo mv oc kubectl /usr/local/bin/
          oc version --client

      - name: Login to OpenShift
        run: |
          oc login --server=${{ secrets.OPENSHIFT_URL }} \
            --token=${{ secrets.OPENSHIFT_PASSWORD }} \
            --insecure-skip-tls-verify=true
      - name: Set project
        run: oc project vineeta-singh-dev

      - name: Apply OpenShift YAMLs
        run: |
          oc apply -f openshift/apps --namespace=vineeta-singh-dev
